name: Build and run MLPerf Tiny Networks

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build-and-run-networks:
    runs-on: ubuntu-latest
    container: 
      image: ghcr.io/kuleuven-micas/snax:v0.1.2
    steps:
      - uses: actions/checkout@v3
      - name: Install snax compiler
        run: |
          python3 -m pip install -e .
      - name: Reinstall pip modules from requirements
        run: |
          python3 -m pip install -r requirements.txt
      - name: Anomaly detection (snax)
        run: |
          make ad01_int8.o
        working-directory: kernels/mlperf_tiny_ad01
      - name: Anomaly detection (vanilla)
        run: |
          make ad01_int8.no-snax-opt.o
        working-directory: kernels/mlperf_tiny_ad01
      - name: Image classfication (snax)
        run: |
          make pretrainedResnet_quant.o
        working-directory: kernels/mlperf_tiny_ic
      - name: Image classfication (vanilla)
        run: |
          make pretrainedResnet_quant.no-snax-opt.o
        working-directory: kernels/mlperf_tiny_ic
      - name: Visual Wake Words (snax)
        run: |
          make vww_96_int8.o
        working-directory: kernels/mlperf_tiny_vww
      - name: Visual Wake Words (vanilla)
        run: |
          make vww_96_int8.no-snax-opt.o
        working-directory: kernels/mlperf_tiny_vww
      - name: Keyword spotting (snax)
        run: |
          make kws_ref_model.o
        working-directory: kernels/mlperf_tiny_kws
      - name: Keyword spotting (vanilla)
        run: |
          make kws_ref_model.no-snax-opt.o
        working-directory: kernels/mlperf_tiny_kws
