name: Code Formatting
on: 
  pull_request:
  push:
    branches: [main]

jobs:
  code-formatting:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Run code formatting checks with pre-commit
      uses: pre-commit/action@v3.0.0