name: lit-tests

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  python-tests:

    runs-on: ubuntu-latest
    container: 
      image: ghcr.io/kuleuven-micas/snax:v0.2.7

    steps:
    - uses: actions/checkout@v3
    - name: Install snax-mlir
      shell: bash
      run: |
        python3 -m pip install '-e.[dev]'
    - name: Test with lit
      shell: bash
      run: |
        lit tests/filecheck -v

