name: lit-tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  python-tests:

    runs-on: ubuntu-latest
    container: 
      image: ghcr.io/kuleuven-micas/snax-mlir:pr-13

    steps:
    - uses: actions/checkout@v3
    - name: Install modules
      shell: bash
      run: |
        /opt/python3.11/bin/python3 -m pip install -e .
    - name: Test with lit
      shell: bash
      run: |
        export PATH=/opt/python3.11/bin:$PATH
        /opt/python3.11/bin/lit tests/filecheck -v

