name: python-tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  python-tests:

    runs-on: ubuntu-latest
    container: 
      image: ghcr.io/kuleuven-micas/snax-mlir:main

    steps:
    - uses: actions/checkout@v3
    - name: Install pytest
      shell: bash
      run: |
        /opt/python3.11/bin/python3 -m pip install pytest
    - name: Test with pytest
      shell: bash
      run: |
        /opt/python3.11/bin/python3 -m pytest snax-mlir
