name: Run benchmarks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run-benchmarks:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/kuleuven-micas/snax:v0.2.2
    steps:
      - uses: actions/checkout@v3
      - name: Install snax-mlir
        run: python3 -m pip install '-e.[dev]'
      - name: Run benchmarks
        run: python3 genbenchmark.py
        working-directory: benchmarks/${{ matrix.kernel }}
      - uses: actions/upload-artifact@v4
        with:
          name: output_report
          path: benchmarks/${{ matrix.kernel }}/output_report.txt
    strategy:
      matrix:
        kernel: [dense_matmul]
