name: Run benchmarks

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'benchmarks/**'

jobs:
  run-benchmarks:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/kuleuven-micas/snax:v0.2.2
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install snax-mlir
        run: python3 -m pip install '-e.[dev,viz]'
      - name: Run benchmarks
        run: python3 genbenchmark.py
        working-directory: benchmarks/${{ matrix.kernel }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.kernel }}
          path: benchmarks/${{ matrix.kernel }}/output
    strategy:
      matrix:
        kernel: [dense_matmul, roofline]
